{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand text-danger" href="#">Digital</a><a class="navbar-brand" href="#">Edu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            {% if view.category|length > 0 %}

              {% for el in view.category %}
              <li><a class="dropdown-item" href="{{ el.get_absolute_url }}">{{ el.name }}</a></li>
              {% endfor %}

              {% else %}
              <li><a class="dropdown-item" href="#">No categories</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
          <form>
          <input class="form-control" type="text" placeholder="Qidirish 🔍" aria-label="Qidirish 🔍">
          </form>
    </div>
  </div>
</nav>